
.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}
.btn:hover::before {
  transform: translateY(3px);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}


.btn:active {
  transform: translateY(3px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
